html, body {
    height: 100%;
}
body {
    background-image: url("../img/rana-sawalha.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #554c43;
}

/**************************HEADER***********************/

.main-header {
    width: 100%;
    height: 65px;
    background-color: rgba(2,2,2,0.3);
}

.header-wrapper {
    padding-top: 20px;
}

.logo {
    float: left;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.logo-link {
    color: #ffffff;
    text-decoration: none;
}

.logo-link:hover {
    color: #3cb878;
}

/************************SOCIAL ICONS******************/

.menu {
    float: right;
    width: 455px;
}

.menu-item-icon {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
}

.bg-calculator_white {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -30px;
}

.bg-calculator_white:hover {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -282px;
}

.bg-chat_white {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -114px;
}

.bg-chat_white:hover {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -366px;
}

.bg-compass_white {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -198px;
}

.bg-compass_white:hover {
    width: 24px; height: 24px;
    background: url('../img/css_sprites.png') -30px -450px;
}

/***********************WELCOME LINK***************/

.welcome-menu {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    border-left: 2px solid #302f2e;
    padding-left: 25px;
    vertical-align: top;
    padding-top: 6px;
}

.welcome-link {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #3cb878;
}

.welcome-link:hover {
    text-decoration: underline;
}

/***********************SIGNUP*********************/

.main-container {
    position: relative;
    height: 93%;
}

.signup {
    width: 445px;
    height: 595px;
    background-color: #ffffff;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.green-square-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.signup-box-name {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
    padding: 30px 0 0 35px;
}

.login-box-name {
    display: inline-block;
    float: right;
    padding-top: 35px;
    padding-right: 61px;
    font-family: sans-serif;
    font-size: 14px;
}

.login-link-name {
    color:#3cb878;
    text-decoration: none;
}

.login-link-name:hover {
    text-decoration: underline;
}

.signup-container {
    display: inline-block;
    width: 322px;
    margin: 0 auto;
}

/***************SOCIAL BUTTONS**************/

.facebook-signup {
    display: inline;
    float: left;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #264b96;
    border-radius: 5px;
    width: 157px;
    padding: 15px;
    margin-top: 15px;
}

.google-signup {
    float: right;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #df4a32;
    border-radius: 5px;
    width: 157px;
    padding: 15px;
    margin-top: 15px;
}

.facebook-link, .google-link {
    text-decoration: none;
    color: #ffffff;
}

.fa-facebook-f {
    font-size: 18px;
    color: #ffffff;
    border-right: 1px solid #8c8c8c;
    padding-right: 17px;
    margin-right: 10px;
}

.fa-google-plus-g {
    font-size: 18px;
    color: #ffffff;
    border-right: 1px solid #8c8c8c;
    padding-right: 10px;
    margin-right: 10px;
}

/*******************PROPOSAL*****************/

.proposal-row {
    padding-top: 15px;
    margin-bottom: 17px;
}

.proposal {
    font-size: 14px;
    color: #8c8c8c;
}

.proposal:before {
    display: inline-block;
    content: '';
    width: 45%;
    border: 1px solid #eaeaea;
    margin-right: 2.5%;
}

.proposal:after {
    display: inline-block;
    content: '';
    width: 45%;
    border: 1px solid #eaeaea;
    margin-left: 2.5%;
}

/*******************INPUTS*****************/

.signup-input {
    display: inline-block;
    width: 320px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 3px;
    margin-bottom: 10px;
}

.signup-input:focus {
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

::placeholder {
    font-family: sans-serif;
    font-size: 14px;
}

/*******************CHECKBOX*****************/

.checkbox-container {
    display: block;
    user-select: none;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 5px;
    line-height: 2;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #8c8c8c;
    background-color: #ffffff;
    border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ffffff;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #ffffff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.terms-link {
    color: #3cb878;
    text-decoration: none;
}

.terms-link:hover {
    text-decoration: underline;

}

/*******************CREATE ACCOUNT BNT*****************/

.signup-input-btn {
    width: 100%;
    background-color: #3cb878;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 17px 0;
    margin-top: 25px;
    border-style: none;
    border-radius: 5px;
}

/*********************CLEARFIX*********************/

.clearfix {
    display: block;
    content:'';
    clear: both;
}

















